#header {
    height: 75px;
    background-color: azure;
}
#side_panel {
    height: 700px;
    background-color: beige;
}
#mapdiv {
    height: 700px;
    background-color: salmon;
}
#footer {
    height: 75px;
    background-color: darkgray;
}
